/**************** nav strat ****************/
.menu-nav {
	margin-bottom: 46px;
}

.shoppcar-banner img {
	margin: 0 auto;
}

.van-nav-bar {
	line-height: 0;
}

.nav-icon-line {
	width: 0.5px;
	height: 14px;
	background-color: #b1b1b1;
}

.nav-icon-sreach {
	margin-right: 6.5px;
}

.nav-icon-more {
	margin-left: 6.5px;
}

.menu-city {
	font-size: 10.4px;
	color: #b1b1b1;
	margin: 0px 0px 1px 6.5px;
}

/**************** nav end ****************/

/**************** 轮播导航 strat ****************/
.van-swipe__indicators {
	bottom: 40px !important;
}

.index-content {
	margin: 0 10px;
}

.index-nav {
	display: flex;
	flex-direction: column;
	font-size: 14.6px;
	font-weight: bold;
	background-color: #eeeeee;
	border-radius: 5px;
	padding: 6.5px;
	position: relative;
	top: -30px;
}

.nav-top {
	display: flex;
	flex-direction: row;
}

.nav-top-left {
	width: 127.5px;
	height: 168.5px;
	background-image: url(../assets/nav-bg.png);
	background-size: 125%;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 5px;
	text-align: center;
	margin-right: 6px;
	margin-bottom: 6px;
}

.enlist-text {
	font-size: 6.3px;
	letter-spacing: -0.5px;
	margin-top: 5px;
}

.nav-top-left div:first-child {
	margin-top: 29.5px;
}

.top-nav-right {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.grass-bg {
	width: 206px;
	height: 82.5px;
	background-image: url(../assets/nav-bg2.png);
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 5px;
	padding-left: 26.5px;
	margin-bottom: 6px;
}

.grass-bg div:first-child {
	margin-top: 24px;
}

.cooperation-bg {
	width: 206px;
	height: 82.5px;
	background-image: url(../assets/nav-bg4.png);
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 5px;
	padding-left: 26.5px;
}

.cooperation-bg div:first-child {
	margin-top: 18.5px;
}

.nav-bottom {
	display: flex;
	flex-direction: row;
}

.vip-bg {
	width: 202px;
	height: 52px;
	background-image: url(../assets/nav-bg5.png);
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 5px;
	text-align: left;
	padding-left: 18px;
	margin-right: 6px;
}

.vip-bg div:first-child {
	margin-top: 10px;
}

.coupons-bg {
	width: 129px;
	height: 52px;
	background-image: url(../assets/nav-bg3.png);
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 5px;
	text-align: left;
	padding-left: 12.5px;
}

.coupons-bg div:first-child {
	margin-top: 10px;
}


/**************** 新人活动栏 start ****************/
.new-activity {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	text-align: left;
}

.caption-text div:first-child {
	font-size: 12.5px;
	font-weight: bold;
	color: #6a4846;
}

.caption-text div:last-child {
	font-size: 10.4px;
}

.caption-text-right {
	font-size: 8.3px;
	font-weight: bold;
	color: #b2b2b2;
}

.list-title {
	font-size: 8.3px;
	font-weight: bold;
	color: #6a4846;
}

.list-tip {
	width: 46px;
	height: 16px;
	background-color: #ffffff;
	border-radius: 14px;
	border: solid 0.5px #f76868;
	font-size: 4px;
	color: #f76868;
	text-align: center;
	padding-bottom: 2px;
	padding-left: 2px;
	margin-top: 5.5px;
	margin-bottom: 4.5px;
	text-align: center;
}

.activity-price {
	display: flex;
	flex-direction: row;
}

.activity-price div:nth-child(1) {
	font-size: 10px;
	color: #f76868;
	font-weight: bold;
}

.activity-price div:nth-child(2) {
	font-size: 6.3px;
	color: #817e7e;
}

.activity-price div:nth-child(3) {
	width: 24px;
	border-bottom: 2px solid #817e7e;
	margin-left: -23px;
	margin-bottom: 6px;
}

.activity-swipe {
	margin-top: 12px;
}

.activity-list {
	text-align: left;
}

.activity-for {
	margin-right: 11.5px;
}

/**************** 新人活动栏 end ****************/

/**************** 本季推荐栏 start ****************/
.season-recom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	margin-top: 18.5px;
}

.season-left {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.season-title div:first-child {
	font-size: 10.4px;
	font-weight: bold;
	color: #262626;
}

.season-title {
	margin-left: 7.5px;
}

.season-title div:first-child span {
	color: #f6ae66;
}

.season-title div:last-child {
	font-size: 6.3px;
	color: #4b4848;
}

.index-banner {
	margin-top: 14.5px;
}

.milktea-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}


/**************** 本季推荐栏 end ****************/

/**************** 底部二维码 start ****************/
.index-code {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fafaf0;
	padding: 23.5px 0 14px;
	margin-top: 29px;
}

.index-code div:last-child {
	width: 215px;
	font-size: 8.3px;
	color: #6a4846;
	margin-top: 23px;
}

.code-img {
	margin: 12.5px 0;
}

.code-wechat {
	margin-left: 3.5px;
}

/**************** 底部二维码 end ****************/
