.milkteadetail {
	background-color: #F5F5F5;
}

/**************** 顶部和导航图片 strat ****************/
.milkteadetail {
	background-color: #F5F5F5;
}

.show-img {
	margin-top: -55px;
}

.detail-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	margin: 10px;
}

.detail-nav img {
	z-index: 1;
}

.detail-share img {
	margin-right: 10px;
}

/**************** 顶部和导航图片 end ****************/

/**************** 奶茶详情 strat ****************/
.detail-title {
	margin: 0 auto;
	border-radius: 12px;
	background-color: #ffffff;
	text-align: left;
	font-size: 20px;
	padding: 13.5px 10px;
	margin: 13px 10px;
}

.detail-title div:last-child {
	font-size: 16px;
}

.detail-choice {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 16px;
	background-color: #FFFFFF;
	margin: 0 10px;
	border-radius: 12px;
	padding: 10px;
}

.choice {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	line-height: 29.5px;
	margin-bottom: 16px;
}

.choice div:hover:not(:first-child) {
	border: solid 1px #59493f;
	background-color: #FFFFFF;
}

.choice span {
	margin-right: 15px;
}

.choice div:not(:first-child) {
	height: 29.5px;
	background-color: #eeeeee;
	border-radius: 29.5px;
	text-align: center;
	margin-left: 7.5px;
	padding: 0px 20px;
}

.detail-text {
	margin: 10px;
	background-color: #FFFFFF;
	font-size: 13.3px;
	border-radius: 12px;
	padding: 13px;
	text-align: left;
	line-height: 20px;
}

.detail-pay {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #FFFFFF;
	padding: 10px;
}

.now-buy {
	width: 126.5px;
	height: 34px;
	background-color: #f05922;
	border-radius: 15px;
	font-size: 17.3px;
	color: #FFFFFF;
	line-height: 34px;
	text-align: center;
}

.pay-left {
	display: flex;
	flex-direction: column;
	font-size: 10px;
	text-align: left;
}

.pay-price {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 6px;
}

.pay-price div:not(:first-child) {
	margin-left: 5px;
}

.pay-price div:nth-child(1) {
	font-size: 17.3px;
	color: #fd4444;
}

.pay-price div:nth-child(2) {
	color: #b5b5b5;
	font-size: 14px;
}

.pay-price div:nth-child(3) {
	width: 35px;
	border-bottom: 2px solid #b5b5b5;
	margin-left: -34px;
	margin-bottom: 2px;
}

.pay-price div:nth-child(4) {
	border: solid 1px #59493f;
	border-radius: 25.5px;
	text-align: center;
	width: 50px;
	height: 20px;
	line-height: 20px;
}

/**************** 奶茶详情 end ****************/

/**************** 为你推荐栏 start ****************/
.recom-for {
	margin: 0 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.detail-milk {
	background-color: #FFFFFF;
	text-align: left;
	font-size: 18px;
	width: 166.5px;
	border-radius: 12px;
	margin-bottom: 17px;
}

.detail-milk img {
	margin-bottom: 5px;
}

.detail-milk div:nth-child(1) {
	margin-left: 3.5px;
}

.detail-price {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 19px;
	color: #f93446;
	margin: 8px 5.5px 14px -5px;
}

/**************** 为你推荐栏 end ****************/
