/**************** 地址栏 strat ****************/
.payment {
	background-color: #f5f5f5;
}

.payment-nav-bg {
	background-color: #f5f5f5;
}

.payment-address {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 13.5px 10px;
	background-color: #fff;
	border-radius: 15px;

}

.address-left {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: left;
}

.address-text {
	margin-left: 6px;
	line-height: 20px;
}

.address-text div:first-child {
	font-size: 13.3px;
}

.address-text div:last-child {
	font-size: 10.7px;
	color: #626161;
}

.address-right {
	width: 108.5px;
	height: 30px;
	background-image: linear-gradient(-72deg,
		#faa953 0%,
		#f6f3ec 100%);
	border-radius: 30px;
	color: #fff;
}


/**************** 地址栏 end ****************/

/**************** 订单列表栏 start ****************/
.payment-order {
	padding: 2px 10px;
	margin: 11.5px 0px;
	background-color: #fff;
	border-radius: 15px;
}

.payment-order-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 15px;
	margin: 11.5px 0px;

}

.order-list-left {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	line-height: 28px;
	text-align: left;
}

.order-list-left img {
	margin-right: 10.5px;
	border-radius: 14px;
}

.left-title div:first-child {
	font-size: 16px;
	font-weight: bold;
	color: #2a2a2a;
}

.left-title div:last-child {
	font-size: 12px;
	color: #bebebe;
}

.order-list-num {
	font-size: 18.7px;
	font-weight: bold;
	color: #2e2e2e;
}

.order-list-right div:first-child {
	font-size: 15.3px;
	font-weight: bold;
	color: #ff4e4e;
	margin-bottom: 6.5px;
}

.order-list-right div:last-child {
	width: 58px;
	height: 22px;
	border-radius: 5px;
	border: solid 1.3px #f77f00;
	font-size: 12.7px;
	font-weight: bold;
	color: #f77f00;
	text-align: center;
	line-height: 22px;
}

/**************** 订单列表栏 end ****************/

/**************** 支付栏 start ****************/
.pay-cell {
	text-align: left;
	margin: 0 10px;
}

.wallet {
	font-size: 16px;
}

.wallet-right {
	font-size: 13.3px;
	color: #9f9e9e;
}

.cell-border {
	border-bottom: 1px solid #b2b2b2;
	padding: 24.5px 0 11.5px;
	background-color: #f5f5f5;
}

.cell-bg {
	background-color: #f5f5f5;
	padding: 16px 0 41.5px;
}

.stock-bg {
	width: 150px;
	height: 24.5px;
	background-image: linear-gradient(-90deg,
		#f78000 0%,
		#f7f0e2 100%);
	border-radius: 30px;
	font-size: 14px;
	color: #fefefe;
	text-align: center;
	margin-left: 27px;
}

.cell-mode {
	background-color: #f5f5f5;
	padding: 0 0 38px;
}

.mode-right {
	font-size: 16px;
	color: #2a2a2a;
}


/**************** 支付栏 end ****************/
