/**************** nav strat ****************/
.shoppcar {
	margin: 0 10px;
}

.shoppcar-banner img {
	margin: 0 auto;
}

.van-nav-bar {
	line-height: 0;
}

/**************** nav end ****************/

/**************** 订单列表 strat ****************/
.order-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid #423026;
	padding: 13px 0 7px;
}

.order-title {
	font-size: 12px;
	color: #212121;
	text-align: left;
}

.order-left {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	padding-bottom: 7.5px;
	border-bottom: 0.5px solid #b5b5b5;
}

.order-show {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 70%;
	text-align: left;
}

.order-choice {
	width: 30%;
	padding-right: 10px;
}

.order-show-text {
	margin-left: 4.5px;
}

.order-show img:nth-child(2) {
	width: 72.5px;
	height: 69px;
	border-radius: 5px;
	margin-left: 18.5px;
}

.order-show-text div:nth-child(1) {
	font-size: 13px;
}

.order-show-text div:nth-child(2) {
	font-size: 10px;
	margin: 5px 0;
}

.order-show-text div:nth-child(3) {
	font-size: 12px;
	color: #f83434;
}

/**************** 订单列表 end ****************/
